/* ======
   Author: J S Jones 2016
   ====== */
body{
	font-family:sans-serif;
	background-color:#EFEFEF;}

h3{
	padding:0;
	box-sizing:border-box;}

.main-content{
	width:950px;
	margin:0 auto;}

article{
	width:100%;
	box-sizing: border-box;
	padding:10px;}

.section{
	padding:0;
	box-sizing:border-box;}	

.section p {
    line-height: 1.3em;
	margin:0;
	padding:0 0 10px 0;}
	
.section-link {   
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;}	

.section-link:visited {   
    outline:none;
    text-decoration: none;}
	
.section-link:hover {
    outline:none;
    text-decoration: none;}
	
.section-link:active {      
    outline: medium none;
    text-decoration: none;}
	
.section-link:focus {   
    outline: medium none;
    text-decoration: none;}
	
.section h3 {
    display: none;}
	
.section-link {
    background: url(images/show-hide-plus.png) no-repeat scroll 97% 6%;
    color: #262626;
	border-bottom: 2px solid #c1b90c;
	font-weight:800;}		

.section-link.expanded {
    background-image: url(images/show-hide-minus.png);}
	
.section-link:visited {
    color:#262626;}
	
.section-link:hover {
    color: #262626;}
	
.section-link:active {   
    color: #262626;}
	
.section-link:focus {
    color:#262626;}
	
.section ol li {
    color: #ff0000;}
	
.section ol li span {
    color: #666;} 


@media all and (max-width: 960px) { 
	
.main-content{
	width:100%;}
	
}		